<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoryApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.splash.splashActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyABN4xl1zNugLK_s746sg4I7OnE37QhlP4" />

        <activity
            android:name=".view.map.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".view.main.MainActivity" />
        <activity
            android:name=".view.camera.MyCameraActivity"
            android:exported="false" />
        <activity
            android:name=".view.camera.StoryAddActivity"
            android:exported="false"
            android:parentActivityName=".view.main.MainActivity" />
        <activity
            android:name=".view.detail.DetailActivity"
            android:exported="false"
            android:parentActivityName=".view.main.MainActivity" />
        <activity
            android:name=".view.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".view.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>